<!DOCTYPE html>
<html>
<head>
  <title>Devisetest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% if current_user %>
    <h2>You are logged in as: <%= current_user.email %></h2>
  <% end %>
  <%= yield %>

</body>
</html>
